
def comment_added(comment)
  @place = comment.place
  @place_owner = @place.user
  mail(to: @place_owner.email,

  mail(to: "hqcntrl@gmail.com"

      subject: "A comment has been added to your place")

<p> Hey there !</p>
<p>

    Congrats !! <b> A comment has been addded on your site within Nomster</b>

</p>

Cheers, <br />
Adminster

end